/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* Header stuff goes here */


/* Header stuff goes here */
#home {
    width: 800px;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 30px;
}
#home nav {
    
    width: 800px;
}

#home nav .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

#home nav a {
    margin-left: 40px;
    margin-right: 40px;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
}

/*~~~~~~~~~~~~~~~~~~~~~end of header/ navigation bar/ home~~~~~~~~~~~~~~~~~~~~~*/
      
/*~~~~~~~~~~~~~~~~~~~~~body/main content~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


.container .image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container .image-container img{
    background-color: salmon;
    margin: 20px 20px 80px 20px;
    height: auto;
    max-width: 800px;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
    margin-bottom: 5%;
    text-indent: 10%;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}

.top-content .text-container {
    width: 100%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

h2 {
    font-size: 200%;
    margin-bottom: 3%;
    text-align: center;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

/*~~~~~~~~~~~~~~~~~~~~~~~end of body/main content~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
      
      
/*~~~~~~~~~~~~~~~~~~~~~~~footer~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}





/*~~~~~~~~~~~~~~~~~~~~~media inquiry~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


@media(max-width: 500px){

    /*~~~~~~~~~~~~~~~~~~~~~header/ navigation bar/ home~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    
    #home, #home nav, #home nav .nav-bar  {
        width: 500px;
    } 
       
    #home nav .nav-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        
    #home nav .nav-bar img{ 
        width: 40%;
        margin-bottom: 20px;
    }
    
    #home nav .nav-bar a{
        text-align: center;
        padding: 8px;
        font-size: 200%;
    }
    
      
    /*~~~~~~~~~~~~~~~~~~~~~end of header/ navigation bar/ home~~~~~~~~~~~~~~~~~~~~~*/
      
    /*~~~~~~~~~~~~~~~~~~~~~body/main content~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

    
    h2{
        font-size: 200%;
        text-align: justify;
        text-indent: 10%;
    }
    
    .container{
        max-width: 500px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 0px;
        
    }
    
    
    .container .image-container img{
        height: 200px;
        object-fit: cover; 
        max-width: 500px;
    }

    .text-container{
        margin: 0; 
        padding: 0;  
    }


    
    body .container .top-content,  body .container .middle-content, .boxes, body .container .bottom-content{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 40px;
        align-items: center;
    } 
    
    body .container .middle-content .boxes .box{
        height: 170px;
        width: 170px;
    }
    
    .bottom-content .text-container, .top-content .text-container{
        justify-content: space-evenly;
        margin-bottom: 40px;
        width: 85%; 
    }
    
    .middle-content {
        border-bottom: none;
    }




/*~~~~~~~~~~~~~~~~~~~~~~~end of body/main content~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    
    
/*~~~~~~~~~~~~~~~~~~~~~~~footer~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


    
    .container footer{
        background-color: black;
        flex-direction: column;
        display: flex;
        align-items: center;
        border-right: 10px solid white;  
    }
    
    footer nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    footer nav a{
        font-size: 200%;
        padding: 2%;
    }

    
/*~~~~~~~~~~~~~~~~~~~~~~~footer~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


    
    }